#contact-info {
	font-size: .8em;
}

.job {
	background-color: rgb(#e9e5dc);
	border-radius: 25%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.smaller {
	font-size: .8em;
}

/*

selector:pseudo-class {
    property:value;
}

 section > section {
	font-size: 25%;
 }
 
*/